/* Main */
main {
  display: flex;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}

/* Form */
.contact-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  font-family: "Inter", sans-serif;
}

.contact-form label {
  font-weight: bold;
}

.purple-button {
  color: white;
  font-weight: bold;
  background-color: #f0bcd4;
  border: 1px solid ;
  border-radius: 5px;
  padding: 5px;
}

.purple-button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* Footer */
footer {
  margin-top: 0;
  flex: 1;
  align-items: center;
}

.form-title-section {
  margin-bottom: 20px;
  text-align: center;
}

.form-title-section p {
  text-transform: uppercase;
  font-weight: bold;
}

.form-wrapper dt {
  font-weight: bolder;
}