/* Main */
main {
  display: flex;
  justify-content: center;
}

/* Form */
.contact-form {
  margin-top: 20px;;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  font-family: "Inter", sans-serif;
}

.contact-form label {
  font-weight: bold;
}

.purple-button {
  color: white;
  font-weight: bold;
  background-color: #f0bcd4;
  border: 1px solid ;
  border-radius: 5px;
  padding: 5px;
}

.purple-button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

/* Footer */
footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: #8a1c7c;
  color: white;
  font-family: "Inter", sans-serif;
}

footer > p {
  text-transform: uppercase;
  font-weight: bold;
}

dt {
  font-weight: bolder;
}