main {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 50vh;
  margin-top: 20px;;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 15px;
  font-family: "Inter", sans-serif;
}

.contact-form label {
  font-weight: bold;
}

.purple-button {
  color: white;
  font-weight: bold;
  background-color: #8a1c7c;
  border-radius: 5px;
  padding: 5px;
}