body {
  margin: 0;
  padding: 0;
}

#top-nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  background-color: #1f0322;
}

#company-logo-container > img {
  width: 100px;
  height: auto;
}

#top-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#top-nav li {
  padding: 15px;
}

#top-nav a {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#top-nav li.active {
  background-color: #8a1c7c;
}

#top-nav li:hover:not(.active) {
  background-color: #f0bcd4;
}

header {
  background-color: #899d78;
  padding: 20px;
  margin: 0;
  font-family: "Inter", sans-serif;
  text-align: center;
  text-transform: uppercase;
}

#main-header {
  height: 100vh;
}

.word-color-highlight {
  color: #f7ece1;
  font-weight: 900;
  text-transform: uppercase;
}

