body {
  margin: 0;
  padding: 0;
}

#top-nav {
  overflow: hidden;
  display: flex;
  justify-content: space-between; 
  align-items: stretch;
  height: 50px;
}

#top-nav ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

#top-nav li {
  padding: 15px;
}

#top-nav a {
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

#top-nav li.active {
  background-color: #8d86c9;
}

#top-nav li:hover:not(.active) {
  background-color: #725ac1;
}

header {
  background-color: #cac4ce;
  
  padding: 20px;
  margin: 0;
  font-family: "Inter", sans-serif;
}

#main-header {
  height: 100vh;
}

#name-container {
  color: #f7ece1;
  font-weight: 900;
  text-transform: uppercase;
}